extends layout

block content
  // Small boxes (Stat box)
  .row
    .col-lg-3.col-xs-6
      // small box
      .small-box.bg-aqua
        .inner
          h3
            | 180
            sup(style='font-size: 20px') 位             
          p 新用户完成注册  
        .icon
          i.fa.fa-fw.fa-group           
        a.small-box-footer(href='#')
          | 查看信息 
          i.fa.fa-arrow-circle-right
    // ./col
    .col-lg-3.col-xs-6
      // small box
      .small-box.bg-green
        .inner
          h3
            | 53
            sup(style='font-size: 20px') 家               
          p 新场馆入驻                
        .icon
          i.fa.fa-fw.fa-futbol-o
        a.small-box-footer(href='#')
          | 查看信息 
          i.fa.fa-arrow-circle-right
    // ./col
    .col-lg-3.col-xs-6
      // small box
      .small-box.bg-yellow
        .inner
          h3
            | 280
            sup(style='font-size: 20px') 场    
          p 最新场馆预定           
        .icon
          i.fa.fa-fw.fa-calendar-plus-o
        a.small-box-footer(href='#')
          | 查看信息 
          i.fa.fa-arrow-circle-right
    // ./col
    .col-lg-3.col-xs-6
      // small box
      .small-box.bg-red
        .inner
          h3
            | 280
            sup(style='font-size: 20px') 张
          p 优惠券被使用            
        .icon
          i.fa.fa-fw.fa-object-ungroup     
        a.small-box-footer(href='#')
          | 查看信息 
          i.fa.fa-arrow-circle-right